* {
  background-color: #101010;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
}

.coming {
  color: #ffffff;
  padding-top: 150px;
  font-size: 72px;
  font-weight: 900;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0.3em;
  justify-content: center;
}
.web {
  color: #ffffff;
  padding: 50px;
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
  line-height: 120px;
}

.footerContent {
  display: flex;
  padding: 50px;
  flex-direction: column;
  text-align: center;
}

.footerContent p {
  max-width: 500px;

  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials li {
  margin: 0 50px;
}

.socials a {
  text-decoration: none;
  color: #ffffff;
  transition: 1ms;
}

.socials li:hover {
  color: aqua;
  transition: 100ms;
}
